/* Row (Logo + Nav) */
.logo__nav_container {
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  align-items: center;
  /* justify-content: space-between; */
  padding: 0 50px;
}

/* Logo */
.logo_container {
  padding: 5px 0;
  width: auto;
}

.logo {
  height: 19px;
}

/* Back */
.container {
  display: flex;
  cursor: pointer;
}

.back_icon {
  width: 12px;
  height: 15.36px;
  transform: scaleX(-1);
  margin-right: 14px;
  padding: 1px 0 0;
}

.back {
  position: relative;
  text-decoration: none;
  font-family: "Neue Einstellung", sans-serif;
  color: #000;
  font-size: 13.5px;
  letter-spacing: 0.7px;
  padding: 0 1.5px;
}

.back:after {
  content: "";
  position: absolute;
  background-color: #000;
  height: 1.5px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.back:hover::after {
  width: 100%;
}

/* Nav */
.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 570px;
  height: 60px;
}

.nav {
  min-width: 570px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
}

.nav_item {
  position: relative;
  text-decoration: none;
  font-family: "Neue Einstellung", sans-serif;
  color: #1f1f1f;
  font-size: 14px;
  letter-spacing: 0.7px;
  padding: 0 1.5px;
}

.nav_item:after {
  content: "";
  position: absolute;
  background-color: #1f1f1f;
  height: 1px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.nav_item:hover::after {
  width: 100%;
}

.current_nav_item {
  font-weight: 700;
}

/* Button */
.button_container {
  width: 147px;
  height: 48px;
}

.button {
  width: 147px;
  height: 48px;
  cursor: pointer;
  background-color: #3a2837;
  font-size: 1.4rem;
  padding: 0 21px;
  border-radius: 30px;
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.4, 0.6, 0.6, 1);
}

.button:hover {
  transform: scale(1.08);
}

.button_text {
  color: white;
  font-family: "Neue Einstellung", sans-serif;
  font-size: 14px;
  letter-spacing: -0.4px;
}
